@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 15px;
}

.container {
  max-width: 100%;
}


@media only screen and (min-width: 300px) and (max-width: 900px){
  .container {
    max-width: auto;
  }
}

a {
  text-decoration: none;
 
  color: $text-white;
 }

 @media (max-width: 1192px) {
  a { 
   
  }
}

@media (max-width: 887px) {
  a { 
    
  }
}

@media (max-width: 865px) {
  a { 
    
  }
}

@media (max-width: 630px) and (min-width: 320px) {
  a {
   
  }
}



ol {
  list-style: none;
}

body {
  font-family: 'Outfit', sans-serif;
  }

h1, h2, h3, h4, h5, h6 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  color: $text-white;
}