@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

.container {
  max-width: 100%;
}

a {
  text-decoration: none;
  @include fontz (1.375em, 35px, 0.4px, Outfit, 400); /* 22px / 16px */
  color: $text-white;
 }

 @media (max-width: 1192px) {
  a { 
   @include fontz (1.125em, 24px, 0.4px, Outfit, 400);
  }
}

@media (max-width: 887px) {
  a { 
    @include fontz (100%, 24px, 0.4px, Outfit, 400);
  }
}

@media (max-width: 786px) {
  a { 
    @include fontz (0.9em, 20px, 0.4px, Outfit, 400);
  }
}

@media (max-width: 342px) {
  a { 
    @include fontz (0.7em, 18px, 0.4px, Outfit, 400);
  }
}

@media (max-width: 296px) {
  a { 
    @include fontz (0.6em, 18px, 0.4px, Outfit, 400);
  }
}

ol {
  list-style: none;
}

body {
  font-family: 'Outfit', sans-serif;
  }

h1, h2, h3, h4, h5, h6 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  color: $text-white;
}