// color-backgrounds

$background-dark:   #161D27;
$background-blue:  #1F2732;
$background-light: #2E3947;
$background-white: #FFFFFF;

// text-color

$text-white: #FFFFFF;
$text-gold: #D1B06B;
$text-dark:  #161D27;
$text-blue:  #1F2732;
$text-light: #909090;

// icon-color 

$icon-gold: #CCAA60;
$icon-grey: #1F2732;
$icon-white: #FFFFFF;