.header {
    width: 100%;
    height: 100%;
    padding: 2.77%  2.77% 0 2.77%;  /* 40px / 1440px */
    background-image: url(img/Header/Room_bc.png);
    background-size: 100%;
    background-repeat: none;

    &-logo {
        width: 100%;
        padding-bottom: 2.06%; /* 28px / 1360px */
        height: 12.4%; 
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 0.74%; /* 10px / 1360px */

        &-left {
            width: 29.4%; /* 400px / 1360px */
            height: 100%;
            display: flex;
            align-items: center;

            &-img {
                width: 100%;
            }

            @media (max-width: 600px) {
                & {
                    width: 35%;
                }
            }

             @media (max-width: 500px) {
                & {
                    width: 45%;
                }
            }
        } 

        &-right {
            width: 25.7%; /* 350px / 1360px */
            height: 90%;
            color: #FFFFFF 10%;
            background: rgba(255, 255, 255, 0.1);
            border: 1px solid rgba(255, 255, 255, 0.1);
            display: flex;
            align-items: center;
            justify-content: center;
            
            @media (max-width: 1000px) {
                & {
                    width: 30%;
                }
            }

            @media (max-width: 678px) {
                & {
                    width: 33%;
                }
            }

             @media (max-width: 650px) {
                & {
                    width: 40%;
                }
            }

            @media (max-width: 650px) {
                & {
                    width: 45%;
                }
            }

            @media (max-width: 400px) {
                & {
                    width: 50%;
                }
            }
            
            &:hover {
                opacity: .5;
                cursor: pointer;
                transition: all .3s ease-in-out;
            }
        }
    }

    &-hr {
        width: 100%;
        text-align: center;
    }

    &-midth {
        width: 100%;
        height: 12.7%;
        padding: 3% 0 1.8% 0; /* 33px / 1023px */
        display: flex;
        
        &-menu{
            width: 50%; /* 1023px / 2 */ 
            height: 100%;  
            display: flex;
                 
            ol { 
                width: 100%;                         
                display: flex;
                align-items: center;
                gap: 8%;

                & a {
                    display: flex;
                    gap: 8%;
                }

                & a:first-child {
                    color: $text-gold;
                }
                
                & a:hover {
                    opacity: .7;
                    transition: all .3s ease-in-out;
                }
            }     
        }

        &-buttons {
            display: flex;
            width: 50%;
            gap: 7.3%; /* 50px / 684px */

            @media (max-width: 930px) {
                & { 
                    gap: 6%; 
                }
            }

            @media (max-width: 847px) {
                & { 
                    gap: 3%;  
                }
            }

            @media (max-width: 665px) {
                & { 
                    gap: 25%;
                    justify-content: end;  
                }
            }

           
            @media (max-width: 525px) {
                & { 
                    display: none; 
                }
            }

            &-link {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

               
                &-icon {
                
                    @media (max-width: 1192px) {
                    
                        & img {
                            size: 95%;
                        }
                    }

                    @media (max-width: 810px) {

                        & img {
                            size: 75%;
                        }
                    } 
                }
            

                &-text {
                    padding-left: 12px;  
                    max-height: 62px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    @media (max-width: 665px) {
                        & { 
                           display: none;  
        
                        }
                    }

                    &-font18 {
                        @include fontz (1.125em, 28.8px, 0.4px, Outfit, 400);
                        color: $text-gold;  
                        display: flex;
                        align-items: start;

                        @media (max-width: 1250px) and (min-width: 1192px) {
                            & { 
                                @include fontz (100%, 22px, 0.4px, Outfit, 400);  
            
                            }
                        }

                        @media (max-width: 1191px) {
                            & { 
                                @include fontz (0.9em, 18px, 0.4px, Outfit, 400);  
            
                            }
                        }

                        @media (max-width: 930px) {
                            & { 
                                @include fontz (0.8em, 16px, 0.4px, Outfit, 400);  
            
                            }
                        }
                    }


                    &-font22 {
                        @include fontz (1.375em, 26.4px, 0.4px, Outfit, 400);
                        color: $text-white;
                        display: flex;
                        align-items: end;

                        @media (max-width: 1250px) and (min-width: 1192px) {
                            & { 
                                @include fontz (1.125em, 22.4px, 0.4px, Outfit, 400);  
            
                            }
                        }

                        @media (max-width: 1191px) {
                            & { 
                                @include fontz (100%, 20px, 0.4px, Outfit, 400);  
            
                            }
                        }

                        @media (max-width: 930px) {
                            & { 
                                @include fontz (0.9em, 18px, 0.4px, Outfit, 400);  
            
                            }
                        }

                        @media (max-width: 823px) {
                            & { 
                                @include fontz (0.8em, 18px, 0.4px, Outfit, 400);  
            
                            }
                        }

                        @media (max-width: 787px) {
                            & { 
                                @include fontz (0.8em, 18px, 0.4px, Outfit, 400);  
            
                            }
                        }

                        @media (max-width: 769px) {
                            & { 
                                @include fontz (0.7em, 18px, 0.4px, Outfit, 400);  
            
                            }
                        }

                        @media (max-width: 718px) {
                            & { 
                                @include fontz (0.6em, 18px, 0.4px, Outfit, 400);  
            
                            }
                        }
                    }


                }    
            }
        }
    }

    &-parker {
        width: 100%;
        display: flex;

        &-text {
            width: 50%;
            padding-top: 12.61%;
            display: flex;
            flex-direction: column;
            
        }
    }
    
}