.welcome {
    max-width: 100%;
    padding: 8.75em  2.77% 8.75em 2.77%;  /* 40px / 1440px */
    background-color: #161D27;
    display: flex;

    &-img { 
        max-width: 34.34%; /* 467px / 1360px */
        display: flex;
        flex-direction: column;
        gap: 1.875em;
    }

    &-to_peter {
        max-width: 65.66%;
        padding-left: 4.56%; /* 62px / 1360px */
        display: flex;
        flex-direction: column;

        h6 {
            font-size: 2.8125em;
            line-height: 1.1em;
        }

        &-img {
            padding-top: 0.6875em;
            padding-bottom: 2.6875em;
            max-width: 14.5%; /* 95px / 655 px */
        }

        &-text {
            
            @include fontz (1.25em, 1.4em, 0.4px, Outfit, 400);
            color: #D7D7D7; 
            text-align: justify;
        }

        &-parker {
            padding-top: 2em;
            padding-bottom: 2.8125em;
            display: flex;
            flex-direction: row;
            gap: 2.4%;

            &-img {
                max-width: 100%;
                max-height: 100%;
                padding-top: 0;
                padding-bottom: 0;

            }

            &-h6 {
                display: flex;
                align-items: center;
                font-size: 2.8125em;
                line-height: 1.1em;
            }
        }
        
        &-card {
            max-width: 100%;
            max-height: 20em;
            display: flex;
            flex-direction: row;
            gap: 3.6%;
            
            &-pencil {
                max-width: 93.74%;
                padding-left: 6.13%;
                padding-right: 6.13%;
                padding-top: 1.2em;
                padding-bottom: 1.2em;
                display: flex;
                background-color: #3B434E;
                align-items: center;
                justify-content: center;
                gap: 3.6%;

                &-img {
                    
                    display: flex;

                    & img {
                        max-width: 58px;
                        max-height: 56px;
                    }
                }

                &-p {
                    @include fontz (1.375em, 1.4em, 0.4px, Outfit, 400);
                    color: #D7D7D7; 
                }
            }

            &-procent {
                width: 248px;
                height: 26px;
                padding: 50px 33px 50px 33px;
                display: flex;
                align-content: center;
                @include fontz (1.375em, 1.4em, 0.4px, Outfit, 400);
                background: #D1B06B;
                border-radius: 0px;

                &-35 {
                    display: flex;
                    width: 81px;
                    height: 59px;
                    background: #161D27;
                    border-radius: 5px;
                    @include fontz (1.5em, 1.2em, 0.4px, Outfit, 400);
                    color: #FFFFFF; 

                }

            }
        }
    }


}