.welcome {
    max-width: 100%;
    padding: 8.75em  2.77% 8.75em 2.77%;  /* 40px / 1440px */
    background-color: #161D27;
    display: flex;

    &-img { 
        max-width: 34.34%; /* 467px / 1360px */
        display: flex;
        flex-direction: column;
        gap: 1.875em;
    }

    &-to_peter {
        max-width: 65.66%;
        padding-left: 4.56%; /* 62px / 1360px */
        display: flex;
        flex-direction: column;

        h6 {
            font-size: 2.8125em;
            line-height: 1.1em;
        }

        &-img {
            padding-top: 0.6875em;
            padding-bottom: 2.6875em;
            max-width: 14.5%; /* 95px / 655 px */
        }

        p {
            max-width: 99.3%;
            @include fontz (1.25em, 1.4em, 0.4px, Outfit, 400);
            color: #D7D7D7; 
            text-align: justify;
        }

        &-parker {
            padding-top: 2em;
            padding-bottom: 2.8125em;
            display: flex;
            flex-direction: row;
            gap: 2.4%;

            &-img {
                max-width: 100%;
                max-height: 100%;
                padding-top: 0;
                padding-bottom: 0;

            }

            &-h6 {
                display: flex;
                align-items: center;
                font-size: 2.8125em;
                line-height: 1.1em;
            }
        }
        
        &-card {
            max-width: 100%;
            max-height: 20em;
            display: flex;
            flex-direction: row;
            gap: 3.6%;
            
            &-pencil {
                max-width: 50%;
                padding-left: 6.13%;
                padding-right: 6.13%;
                display: flex;
                background-color: #3B434E;
                align-items: center;
                justify-content: center;

                &-img {
                    max-width: 30%;
                }

                &-p {
                    max-width: 70%;
                }
            }

            &-procent {
                max-width: 50%;
                display: flex;

            }
        }
    }


}